@import "./finishes/Royal.module.css";
@import "./finishes/Foil.module.css";
@import "./patterns/Patterns.module.css";

.main {
  display: flex;
  border-radius: 2rem;
  position: relative;
}

.rarityText {
  content: "";
  position: absolute;
  top: -4%;
  left: 22%;
  width: 20%;
  height: 15%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2rem);
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: center;
  z-index: 2;
  animation: spin 6s linear infinite;
  padding: 0;
  margin: 0;
  z-index: -2;
}

.image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 2rem;
  object-fit: cover;
}
